h1 {
    color: whitesmoke;
    background-color: black;
  }

th {
    background-color: aqua;
    font-size: 20px;
}

.dark:hover {
    background-color: crimson;
}

.neutral:hover {
    background-color: grey;
}
.light:hover {
    background-color: chartreuse;
}